<%= devise_error_messages! %>

<ul class="nav nav-tabs" , role="tablist">
    <li role="role" class="active">
        <a href="#student_form" aria-controls="student_form" role="tab" data-toggle="tab"><h4>Étudiant</h4></a>
    </li>
    <li role="role">
        <a href="#teacher_form" aria-controls="teacher_form" role="tab" data-toggle="tab"><h4>Professeur</h4></a>
    </li>
    <li role="role">
        <a href="#tutor_form" aria-controls="tutor_form" role="tab" data-toggle="tab"><h4>Tuteur</h4></a>
    </li>
</ul>
<br>

<!-- Tab panes -->
<div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="student_form">
        <%= render "users/registrations/form_student" %>
    </div>
    <div role="tabpanel" class="tab-pane" id="teacher_form">
        <%= render "users/registrations/form_teacher" %>
    </div>
    <div role="tabpanel" class="tab-pane" id="tutor_form">
        <%= render "users/registrations/form_tutor" %>
    </div>
</div>
