<div class="col-xs-7">
    <div class="page-header">
        <h2>Inscription</h2>
    </div>
    <%= render "users/registrations/form_choice" %>
</div>
<div class="col-xs-1"></div>
<div class="col-xs-4">
    <h3>Se connecter</h3>
    <%= render "users/sessions/new_form" %>
</div>
